# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build / Android / iOS secrets
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*
logs/
*.log

# macOS system files
.DS_Store
*.pem

# Windows / Linux system files
Thumbs.db
ehthumbs.db
Icon?

# local env files
.env
.env*.local

# backups & tmp
*.bak
*.tmp
*.swp

# TypeScript
*.tsbuildinfo
.cache/

# App démo / exemple
app-example
